.header {
  position: relative;
  z-index: 100;

  .shop-info {
    display: flex;
    align-items: center;
    .login-name {
      font-size: 0.875rem;
      color: #505958;
      position: absolute;
      white-space: nowrap;
      width: fit-content;
      left: 0;
      right: 0;
      margin: auto;
    }
    .cart-link {
      cursor: pointer;
    }
    .item {
      position: relative;
      text-align: center;
      &:hover {
        svg {
          path {
            fill: #000;
          }
        }
      }
      &+.item {
        margin-left: rem(33px);
      }
      .cart-not-empty {
        display: none;
      }
      &.active {
        .product-quantity {
          position: absolute;
          top: 5px;
          font-size: 14px;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
        .cart-not-empty {
          display: block;
        }
        .cart-empty {
          display: none;
        }
      }
    }
  }

  .logo-stick {
    height: 0;
    width: 0;
    display: block;
    img {
      height: 0;
      width: 0;
    }
  }
  .header-top {
    background-color: #f1faf9;
    font-size: 0.875rem;
    color: $cyan;
    padding: 0.4rem 0;
    .container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .header-middle {
    padding-bottom: rem(20px);
    padding-top: rem(20px);
    transition: all .3s ease-in-out;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    background-color: #fff;

  }

  .logo {
    width: 76px;
    height: 71px;
  }

  .header-bottom {
    border: 1px solid #27d2bd;
    border-right: 0;
    border-left: 0;
    background-color: #fff;
    .shop-info {
      display: none;
    }
  }

  &.sticky-header {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.38);
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1030;
    .header-bottom {
      border: 0;
      .shop-info {
        display: flex;
        .item + .item {
          margin-left: 0.5rem;
        }
      }
    }
    .header-middle,
    .header-top {
      visibility: hidden;
      padding: 0;
      height: 0;
      opacity: 0;
    }
    .menu {
      li {
        a {
          font-size: 0.9rem;
          padding: 0 1rem!important;
        }
      }
    }
    .menu-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .logo-stick {
      margin-right: 1rem;
      width: 60px;
      height: 40px;
      img {
        width: 60px;
        height: 40px;
      }
    }
  }

  .menu-container {
    .phone-box {
      margin-top: 1rem;
      text-align: center;
      display: none;
    }
  }

}

#search-btn {
  display: none;
}

.mob-search {
  .close-icon {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #f1faf9;
    align-items: center;
    justify-content: center;
    top: 100%;
    right: 0;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.phone-box {
  font-size: 1.313rem;
  margin: 0 1rem;
}

.search-box {
  width: 100%;
  max-width: 330px;
  margin: 0 1rem;
  .icon {
    top: 3px;
  }
  button {
    &:hover {
      svg {
        path {
          fill: #000;
        }
      }
    }
  }
}

.banner {
  height: 330px;
  margin-top: rem(22px);
  margin-bottom: 3rem;
  .banner-slider {
    .owl-item {
      box-shadow: 0 0.188rem 0.438rem rgba(2, 2, 2, 0.2);
    }
  }
}


.mobile-btn {
  background-color: transparent;
  border: 0;
  display: none;
  position: relative;
  outline: 0 !important;
  width: 35px;
  height: 21px;
  padding: 0;
  margin-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  align-self: center;
}
.mobile-btn span {
  background-color: #27d2bd;
  width: 100%;
  height: 2px;
  display: block;
  opacity: 1;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }
.mobile-btn span:nth-child(1) {
  top: 0; }
.mobile-btn span:nth-child(2) {
  top: 10px; }
.mobile-btn span:nth-child(3) {
  top: 20px; }
.mobile-btn.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }
.mobile-btn.open span:nth-child(2) {
  opacity: 0;}
.mobile-btn.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.menu {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  li {
    padding: rem(9px) 0 rem(7px) 0;
    border-bottom: 2px solid #fff;
    transition: border .3s ease-in-out;
   a {
     font-family: 'Cinzel', serif;
     font-size: 1.063rem;
     color: #01211d;
     font-weight: 400;
     padding: 0 rem(40px);
     text-shadow: 0 0.063rem 0 rgba(255, 255, 255, 0.8);
      &:focus,
      &:active,
      &:hover {
        color: #01211d!important;
      }
    }
    &:hover {
      border-bottom: 2px solid #27d2bd;
    }
  }
}
.menu >li.current-page-ancestor,
.menu > li.current-menu-ancestor,
.menu > li.current-menu-item,
.menu > li.active,
.menu li > a > li.current-menu-item,
.menu > li.Ñurrent-page-item{
  border-bottom: 2px solid #27d2bd;
  &>a {
    color: #01211d;
  }
}


@media (max-width: 1200px) {
  .menu {
    li {
      a {
        padding: 0 1.5rem;
      }
    }
  }
}

@media (max-width: 992px) {

  .phone-box {
    font-size: 1rem;
  }

  .search-box {
    max-width: 200px;
  }

  .menu {
    li {
      a {
        font-size: 0.9rem;
        padding: 0 0.5rem;
      }
    }
  }

  .header.sticky-header .menu li a {
    font-size: 0.875rem;
    padding: 0 0.5rem !important;
  }
}

@media (max-width: 768px) {

  #search-btn {
    display: block;
  }

  .search-box {
    .close-icon {
      display: flex;
    }
  }

  body.open-menu {
    position: fixed;
    overflow: hidden;
  }

  .header {
    box-shadow: 0 0 10px rgba(0, 0, 0, .38);
    position: fixed;
    z-index: 1030;
    width: 100%;
    left: 0;
    top: 0;
    .header-bottom {
      border: 0;
    }

    .logo {
      width: 55px;
    }

    .header-top {
      font-size: 11px;
    }

    .header-middle {
      padding-bottom: 0;
      padding-top: 0;
      .phone-box {
        display: none;
      }

      .shop-info {
        .item {
          &+.item {
            margin-left: 1.5rem;
          }
          .login-name {
            display: none;
          }
          &:nth-child(3) {
            display: none;
          }
        }
      }
    }

    .menu-container {
      z-index: 9000;
      padding: 1rem 0 140px 0;
      position: fixed;
      background-color: #fff;
      right: 0;
      left: 0;
      bottom: 0;
      top: 100px;
      box-shadow: inset 0 0 29px rgba(0, 0, 0, 0.09);
      height: 100vh;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      -webkit-transform: translateX(-105%);
      transform: translateX(-105%);
      -webkit-transition: -webkit-transform .3s ease-out;
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      border-radius: 0;
      margin: 0;
      li {
        display: inline-block;
        text-align: center;
        width: 100%;
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, -webkit-transform;
        transition-property: transform, opacity;
        transition-property: transform, opacity, -webkit-transform;
        -webkit-transform: translate(50%, 0);
        -ms-transform: translate(0, 50%);
        transform: translate(0, 50%);
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        opacity: 0;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
      }
      &.open-menu {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        li {
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          opacity: 1;
          &:nth-child(1) {
            -webkit-transition-delay: 50ms;
            transition-delay: 50ms;
          }
          &:nth-child(2) {
            -webkit-transition-delay: .1s;
            transition-delay: .1s;
          }
          &:nth-child(3) {
            -webkit-transition-delay: 150ms;
            transition-delay: 150ms;
          }
          &:nth-child(4) {
            -webkit-transition-delay: .2s;
            transition-delay: .2s;
          }
          &:nth-child(5) {
            -webkit-transition-delay: .3s;
            transition-delay: .3s;
          }
          &:nth-child(6) {
            -webkit-transition-delay: 450ms;
            transition-delay: 450ms;
          }
          &:nth-child(7) {
            -webkit-transition-delay: 550ms;
            transition-delay: 550ms;
          }
        }
      }
      .phone-box {
        display: block;
      }
    }

    &.sticky-mob-header {
      .header-top {
        height: 0;
        opacity: 0;
        visibility: hidden;
        padding: 0;
      }
    }
  }

  .mob-search {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.09);
    width: 100%;
    padding: 20px 0;
    background-color: #f1faf9;
    transition: transform .3s ease-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 20;
    .search-box {
      max-width: 300px;
      margin: 0 auto;
    }
    &.open-search {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    .close-icon {
      display: flex;
    }
  }

  .mobile-btn {
    display: block;
    z-index: 1030;
  }

  .menu {
    justify-content: center;
    flex-wrap: wrap;
    li {
      a {
        font-size: 1rem;
      }
    }
  }

  .banner {
    margin-bottom: 1rem;
  }
}

