.product {

  .status {
    display: inline-block;
    padding: 0 8px;
    color: #01211d;
    background-color: transparent;
    border: 1px solid #bbcac8;
  }

  .product-info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  }
}

.section-viewed {
  margin-top: rem(70px);
}

.product-info {

  .number {
    display: block;
    color: #0fe0c7;
    margin-bottom: rem(20px);
  }

  .box-info {
    padding: 20px 12px;
    max-width: 468px;
  }

  .product-name {
    margin-top: rem(20px);
  }

  .product-old-price {
    text-align: center;
    text-decoration: line-through;
    font-size: 1rem;
    font-weight: 300;
    color: #bbcac8;
  }

  .product-price {
    text-align: center;
    font-size: 21px;
    color: #01211d;
    font-weight: 400;

    .wishlist {
      margin-left: rem(12px);
      svg {
        width: 13px;
        height: 11px;
      }
    }
  }

  .quantity {
    margin: rem(50px) 0;
  }

  .rate {
    .star-rate {
      font-size: 21px;
      margin: 0 2px;
      color: $light-cyan;
    }
  }

  .product-share {
    margin-top: rem(50px);
    display: flex;
    align-items: center;
    a {
      svg {
        width: 34px;
        height: 34px;
      }
      margin-left: rem(22px);
      &:hover {
        svg {
          path {
            fill: #000;
          }
        }
      }
    }
  }

}

.product-gallery {

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main-photo {
      max-width: 398px;
      width: 100%;
      height: 324px;
      background-size: contain;
      background-repeat: no-repeat;
      transition: background .2s !important;
      position: relative;
      background-position: center;
      display: block;
      margin-bottom: rem(50px);
    }

    .thumbnails {
      max-width: 286px;
      .owl-nav {
        z-index: -1;
      }
      .thumbnail {
        width: 88px;
        height: 88px;
        border: 1px solid #deeae8;
        background: no-repeat center;
        cursor: pointer;
        transition: opacity .2s, border .2s;
        z-index: 100;
        background-size: 100%;
        position: relative;
        &.active {
          border-color: $light-cyan;
        }
        &:hover {
          border-color: $light-cyan;
        }
      }
    }
  }

}

.product-tab {

  .nav-tabs {
    border-bottom: 1px solid $light-cyan;
    margin-top: rem(60px);
    a {
      display: block;
      padding: 0.2rem rem(22px);
      border: 1px solid transparent;
      transition: background-color .3s ease-in-out;
      &:hover {
        background-color: $light-cyan;
        .title {
        color: #fff;
        }
      }
      &.active {
        border: 1px solid $light-cyan;
        border-bottom: 1px solid #fff;
      }
    }
  }

  .video-tab {
    .video-iframe {
      width: 100%;
      max-width: 369px;
      height: 208px;
      margin: 0 rem(22px) 0 0;
    }
  }

  .review-tab {

    .comment-form {
      max-width: 500px;
      margin-top: 2rem;

      .comment-form-rating {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      }

      p.stars a {
        position: relative;
        height: 38px;
        width: 25px;
        text-indent: -999em;
        display: inline-block;
        text-decoration: none;
        color: transparent;
      }

      p.stars {
        margin-left: 15px;
        span {
          display: flex;
        }
      }

      p.stars a::before {
        display: block;
        color: $cyan;
        font-size: 22px;
        margin: 0 2px;
        font-family: 'Font Awesome 5 Free';
        content: '\f005';
        text-indent: 0;
      }

    }
    .button {
      display: block;
      margin: 1rem auto 0 auto;
      max-width: 272px;
      width: 100%;
    }
  }

}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    background-color: transparent;
    border: 0;
    pointer-events: none;
    height: 22px;
    width: 40px;
    text-align: center;
    margin: 0 1px;
    font-size: 21px;
    color: #505958;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
  }
  button {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 50%;
    padding: 0;
    color: $light-cyan;
    font-size: 0.875rem;
    background-color: transparent;
  }
}

.comment {
  display: flex;
  margin-bottom: 2rem;
  background-color: #f6fafa;
  padding: 2rem;
  .name {
    margin-right: 1.5rem;
    font-weight: 600;
    min-width: 100px;
  }
  .date {
    color: #bbcac8;
    font-size: 0.875rem;
  }
  .text {
    margin: 0.5rem 0 1rem 0;
  }
  .star-rate {
    i {
      color: $light-cyan;
    }
  }
}

@media (max-width: 992px) {

  .product {
    .product-info {
      align-items: center;
      padding-top: 2rem;
    }
  }

  .product-info {
    .quantity {
      margin: 2rem 0;
    }

    .add-to-cart {
      margin: 10px auto;
    }

    .product-share {
      flex-direction: column;
      a {
        margin-left: 0.8rem;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .product-tab .video-tab .video-iframe {
    margin: 20px auto;
  }

  
}

@media (max-width: 768px) {
  .comment {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .product-tab .nav-tabs {
    flex-direction: column;
  }
  .product-tab .nav-tabs a.active {
    border-bottom: 1px solid #17cfb9;
  }
}
